<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>关于我们</title>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_3i24t4dwnm81714i.css">
<link rel="stylesheet" href="../../css/setting-text.css">
    <script src="../../js/flexible.js"></script>
<script src="../../js/zepto.min.js"></script>
</head>
<body>
    <header class="common-header">
        <i class="iconfont icon-arrow-left btn-back"></i>
        <span class="title">关于我们</span>
        <i class="iconfont icon-mycenter btn-mycenter"></i>
    </header>
    
    <section class="main">
        
    </section>
    
    <script src="../../js/common.js"></script>
</body>
</html>