<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>账户管理</title>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_3i24t4dwnm81714i.css">
<link rel="stylesheet" href="../css/setting-text.css">
    <script src="../js/flexible.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body class="bg-gray">
    <header class="common-header">
        <i class="iconfont icon-arrow-left btn-back"></i>
        <span class="title">账户管理</span>
        <i class="iconfont icon-mycenter btn-mycenter"></i>
    </header>
    
    <section class="main">
        <a href="change-pwd.html" class="account-item">
            <span>修改密码</span>
            <i class="iconfont icon-arrow-right"></i>
        </a>
    </section>

    <script src="../js/common.js"></script>
</body>
</html>