<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>我的申请</title>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_3i24t4dwnm81714i.css">
<link rel="stylesheet" href="../css/apply.css">
    <script src="../js/flexible.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body>
    <header class="common-header">
        <i class="iconfont icon-arrow-left btn-back"></i>
        <span class="title">我的申请</span>
        <span class="btn-edit">编辑</span>
        <span class="btn-finish dn">完成</span>
    </header>
    
    <section class="main">
        <section class="apply-ls">
            <section class='apply-item active'>
                <i class="iconfont"></i>
                <img src="../img/icon-head.png">
                <div class="apply-info">农业银行-青春贷</div>
            </section>
            <section class='apply-item'>
                <i class="iconfont"></i>
                <img src="../img/icon-head.png">
                <div class="apply-info">农业银行-青春贷</div>
            </section>
            <section class='apply-item'>
                <i class="iconfont"></i>
                <img src="../img/icon-head.png">
                <div class="apply-info">农业银行-青春贷</div>
            </section>
            <section class='apply-item'>
                <i class="iconfont"></i>
                <img src="../img/icon-head.png">
                <div class="apply-info">农业银行-青春贷</div>
            </section>
            <section class='apply-item'>
                <i class="iconfont"></i>
                <img src="../img/icon-head.png">
                <div class="apply-info">农业银行-青春贷</div>
            </section>
        </section>
    </section>
    


    <script src="../js/common.js"></script>
</body>
</html>