<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>银行/机构贷</title>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_3i24t4dwnm81714i.css">
<link rel="stylesheet" href="../css/bank-loan-detail.css">
    <script src="../js/flexible.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body class="bg-gray">
    <header class="common-header">
        <i class="iconfont icon-arrow-left btn-back"></i>
        <span class="title">银行贷</span>
        <i class="iconfont icon-mycenter btn-mycenter"></i>
    </header>
    
    <section class="main">
        <section class="gl-top">
            <div class="cloud cloud1">
                <p>分期还款</p>
            </div>
            <div class="cloud cloud2">
                <p>2天放款</p>
            </div>
            <div class="cloud cloud3">
                <p>
                    <span>月利率</span>
                    <span class="red">0.58-0.66%</span>
                </p>
            </div>
            <div class="logo-frame">
                <img src="../img/type2.png" class="logo">
                <span>农业银行-青春贷</span>
            </div>
            <div class="info-frame">
                <span>申请人数：14685212人</span>
                <span>期限：3、6、12、24、36个月</span>
            </div>
            <div class="cost-frame">
                <div class="cost-item">
                    <span>管理费</span>
                    <span>0</span>
                </div>
                <div class="cost-item">
                    <span>额度</span>
                    <span class="red">0.1-1万</span>
                </div>
                <div class="cost-item">
                    <span>服务费</span>
                    <span>0</span>
                </div>
            </div>
        </section>

        <section class="gl-progress">
            <div class="step-txt">产品介绍</div>
            <div class="step-detail">
                <p>农业银行针对年轻、高学历的优质客户，推出了青春贷的信用贷款业务。青春 贷业务，申请材料简单，全程在线申请，无需任何抵押，当日批核。</p>
                <p>1、无抵押，纯信用；</p>
                <p>2、全程在线申请，当日批核；</p>
                <p>3、月费率低至0.58%；</p>
                <p>4、期限灵活，最高36期；</p>
                <p>5、在线批核额度高。</p>
            </div>
        </section>

        <section class="gl-progress">
            <div class="step-txt">所需材料</div>
            <div class="step-detail">
                <p>1、无抵押，纯信用。无需任何其他材料，有稳定工作，填写个人信息即可申请； </p>
                <p>2、学历大专以上的客群可以申请。</p>
            </div>
        </section>

         <section class="gl-progress">
            <div class="step-txt">申请流程</div>
            <div class="progress">
                <img src="../img/step1.png">
            </div>
        </section>

        <div class="btn-apply">立即申请</div>

         <div class="verify-wrap dn">
    <i class="iconfont icon-close btn-close"></i>
    <div class="verify-box">
        <p>身份验证</p>
        <div class="user-frame">
            <i class="iconfont icon-user"></i>
            <input maxlength="18" placeholder="请输入身份证号">
        </div>
        <div class="phone-frame">
            <i class="iconfont icon-phone"></i>
            <input maxlength="11" placeholder="请输入手机号码">
        </div>
        <div class="btn-submit">提交</div>
    </div>
</div>
    </section>

    <script src="../js/common.js"></script>
</body>
</html>