<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>银行/机构贷</title>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_3i24t4dwnm81714i.css">
<link rel="stylesheet" href="../css/bank-loan.css">
    <script src="../js/flexible.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body>
    <header class="common-header">
        <i class="iconfont icon-arrow-left btn-back"></i>
        <span class="title">银行/机构贷</span>
        <i class="iconfont icon-mycenter btn-mycenter"></i>
    </header>
    
    <section class="main">
        <section class="banner-frame">
            <img class="banner-item" src="../img/banner.png"></img>
        </section>

        <section class="search-frame">
            <section class="area">
                <span class="area-txt">广州</span>
                <i class="iconfont icon-arrow-down"></i>
            </section>
            <section class="search">
                <i class="iconfont icon-search"></i>
                <input placeholder="输入查找内容">
            </section>
        </section>

        <section class="recommend">
            <label class="recommend-txt">热门推荐</label>
            <div class="recommend-ls">
                <div class="recommend-item">
                    <img src="../img/test1.jpg">
                    <p>工商银行-小额贷</p>
                </div>
                <div class="recommend-item">
                    <img src="../img/test1.jpg">
                    <p>工商银行-小额贷</p>
                </div>
                <div class="recommend-item">
                    <img src="../img/test1.jpg">
                    <p>工商银行-小额贷</p>
                </div>
                <div class="recommend-item">
                    <img src="../img/test1.jpg">
                    <p>工商银行-小额贷</p>
                </div>
                <div class="recommend-item">
                    <img src="../img/test1.jpg">
                    <p>工商银行-小额贷</p>
                </div>
                <div class="recommend-item">
                    <img src="../img/test1.jpg">
                    <p>工商银行-小额贷</p>
                </div>
            </div>
        </section>

        <section class="loan-list-frame">
            <section class="loan-tab">
                <a href="#" class="active">
                    <span class="active">银行贷款</span>
                </a>
                <a href="#">
                    <span>机构贷款</span>
                </a>
            </section>
            <section class="loan-list">
                <section class="loan-item">
                    <div class="loan-item-title">农业银行</div>
                    <div class="loan-item-detail">
                        <img src="../img/icon-head.png">
                        <div class="lid-info">农业银行-青春贷</div>
                    </div>
                    <div class="loan-item-detail">
                        <img src="../img/icon-head.png">
                        <div class="lid-info">农业银行-青春贷</div>
                    </div>
                </section>
                <section class="loan-item">
                    <div class="loan-item-title">招商银行</div>
                    <div class="loan-item-detail">
                        <img src="../img/icon-head.png">
                        <div class="lid-info">招商银行-青春贷</div>
                    </div>
                    <div class="loan-item-detail">
                        <img src="../img/icon-head.png">
                        <div class="lid-info">招商银行-青春贷</div>
                    </div>
                </section>
                <section class="loan-item">
                    <div class="loan-item-title">建设银行</div>
                    <div class="loan-item-detail">
                        <img src="../img/icon-head.png">
                        <div class="lid-info">建设银行-青春贷</div>
                    </div>
                    <div class="loan-item-detail">
                        <img src="../img/icon-head.png">
                        <div class="lid-info">建设银行-青春贷</div>
                    </div>
                </section>
            </section>
        </section>

    </section>
    

    <script src="../js/common.js"></script>
</body>
</html>