<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>修改密码</title>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_3i24t4dwnm81714i.css">
<link rel="stylesheet" href="../css/change-pwd.css">
    <script src="../js/flexible.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body>
    <header class="common-header">
        <i class="iconfont icon-arrow-left btn-back"></i>
        <span class="title">修改密码</span>
        <i class="iconfont icon-mycenter btn-mycenter"></i>
    </header>

    <section class="main">
        <section class="find-info">
            <div class="find-item phone-frame">
                <i class="iconfont icon-phone"></i>
                <input class="phone" maxlength="11" placeholder="请输入手机号码">
                <span class="btn-send-code">发送验证码</span>
            </div>
            <div class="find-item code-frame">
                <i class="iconfont icon-phone"></i>
                <input placeholder="请输入验证码">
            </div>
            <div class="find-item code-frame">
                <i class="iconfont icon-account"></i>
                <input placeholder="请输入新密码">
            </div>
            <div class="find-item code-frame">
                <i class="iconfont icon-account"></i>
                <input placeholder="再次输入新密码">
            </div>
        </section>
        <div class="btn-find">确定</div>
    </section>

    <script src="../js/common.js"></script>
</body>
</html>