<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>我的朋友帮</title>
<link rel="stylesheet" href="../css/customize-loan.css">
    <script src="../js/flexible.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body>
    <header class="common-header">
        <i class="iconfont icon-arrow-left btn-back"></i>
        <span class="title">定制化贷款</span>
        <i class="iconfont icon-mycenter btn-mycenter"></i>
    </header>
    
    <section class="main">
        <section class="loan-banner">
            <img src="../img/banner.png">
        </section>
        
        <section class="loan-ls">
            <a href="#" class="loan-item">
                <img src="../img/house1.png">
                <span>购房贷</span>
            </a>
            <a href="#" class="loan-item">
                <img src="../img/car.png">
                <span>购车贷</span>
            </a>
            <a href="#" class="loan-item">
                <img src="../img/credit.png">
                <span>信用贷</span>
            </a>
            <a href="#" class="loan-item">
                <img src="../img/money_t.png">
                <span>抵押贷</span>
            </a>
            <a href="#" class="loan-item">
                <img src="../img/house.png">
                <span>装修贷</span>
            </a>
            <a href="#" class="loan-item">
                <img src="../img/money.png">
                <span>资金过桥贷</span>
            </a>
            <a href="#" class="loan-item">
                <img src="../img/building.png">
                <span>企业贷</span>
            </a>
            <a href="#" class="loan-item">
                <img src="../img/black.png">
                <span>黑户贷</span>
            </a>
        </section>
    </section>

    <script src="../js/common.js"></script>
</body>
</html>