<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>我的朋友帮</title>
<link rel="stylesheet" href="../css/friend.css">
    <script src="../js/flexible.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body>
    <header class="common-header">
        <i class="iconfont icon-arrow-left btn-back"></i>
        <span class="title">我的朋友帮</span>
        <i class="iconfont icon-mycenter btn-mycenter"></i>
    </header>
    
    <section class="main">
        <section class="friend-ls">
            <p class="friend-label">已推广人员</p>
            <section class='friend-item'>
                <img src="../img/icon-head.png">
                <div class="friend-info">农业银行-青春贷</div>
            </section>
            <section class='friend-item'>
                <img src="../img/icon-head.png">
                <div class="friend-info">农业银行-青春贷</div>
            </section>
            <section class='friend-item'>
                <img src="../img/icon-head.png">
                <div class="friend-info">农业银行-青春贷</div>
            </section>
            <section class='friend-item'>
                <img src="../img/icon-head.png">
                <div class="friend-info">农业银行-青春贷</div>
            </section>
        </section>
        
        <!-- 回到顶部 -->
<div class="to-top">
    <i class="iconfont icon-toTop"></i>
</div>
    </section>

    <script src="../js/common.js"></script>
</body>
</html>