<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>极速贷</title>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_3i24t4dwnm81714i.css">
<link rel="stylesheet" href="../css/gsou-loan-detail.css">
    <script src="../js/flexible.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body class="bg-gray">
    <header class="common-header">
        <i class="iconfont icon-arrow-left btn-back"></i>
        <span class="title">极速贷</span>
        <i class="iconfont icon-mycenter btn-mycenter"></i>
    </header>
    
    <section class="main">
        <section class="gl-top">
            <div class="cloud cloud1">
                <p>
                    <span>684.9元</span>
                    <span>月还款</span>
                </p>
            </div>
            <div class="cloud cloud2">
                <p>
                    <span>218.4元</span>
                    <span>总利息</span>
                </p>
            </div>
            <div class="cloud cloud3">
                <p>
                    <span>0.42%</span>
                    <span>月利率</span>
                </p>
            </div>
            <div class="logo-frame">
                <img src="../img/type1.png" class="logo">
                <span>现金贷（极速贷）</span>
            </div>
            <div class="info-frame">
                <span>申请人数：14685212人</span>
                <span>利率范围：0.42%-1.42%</span>
                <span>贷款范围：3000-30000元</span>
                <span>期限范围：12-36个月</span>
            </div>
            <div class="edit-frame">
                <div class="money-frame">
                    <label>金额</label>
                    <input value="8000">
                </div>
                <div class="time-frame">
                    <label>期限</label>
                    <div class="time-wrap">
                        <select>
                            <option>12个月</option>
                            <option>24个月</option>
                            <option>36个月</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>

        <section class="gl-progress">
            <div class="step-txt">申请流程</div>
            <div class="progress">
                <img src="../img/step.png">
            </div>
        </section>

        <section class="gl-progress">
            <div class="step-txt">申请条件</div>
            <div class="step-detail">
                <p>1、信用卡使用时间超过24个月</p>
                <p>2、手机号需实名，有淘宝账号</p>
            </div>
        </section>

        <section class="gl-progress">
            <div class="step-txt">审核说明</div>
            <div class="step-detail">
                <p>审核方式：纯线上自动审核，放款时需向本人电话确认</p>
                <p>审核周期：当天内审核</p>
                <p>放款时间：1个工作日，最快2个小时放款</p>
                <p>还款方式：自动</p>
            </div>
        </section>

        <div class="btn-apply">立即申请</div>

        <div class="verify-wrap dn">
    <i class="iconfont icon-close btn-close"></i>
    <div class="verify-box">
        <p>身份验证</p>
        <div class="user-frame">
            <i class="iconfont icon-user"></i>
            <input maxlength="18" placeholder="请输入身份证号">
        </div>
        <div class="phone-frame">
            <i class="iconfont icon-phone"></i>
            <input maxlength="11" placeholder="请输入手机号码">
        </div>
        <div class="btn-submit">提交</div>
    </div>
</div>
    </section>

    <script src="../js/common.js"></script>
</body>
</html>