<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>极速贷</title>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_3i24t4dwnm81714i.css">
<link rel="stylesheet" href="../css/gsou-loan.css">
    <script src="../js/flexible.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body>
    <header class="common-header">
        <i class="iconfont icon-arrow-left btn-back"></i>
        <span class="title">极速贷</span>
        <i class="iconfont icon-mycenter btn-mycenter"></i>
    </header>

    <nav class="gsou-loan-tab">
        <span class="active">热门推荐</span>
        <span>极速贷</span>
    </nav>

    <section class="gsou-loan-ls">
        <section class="gsou-loan-item">
            <img src="../img/type1.png">
            <div class="gsou-load-detail">
                <p>现金贷（极速贷）</p>
                <p>借钱0门槛，有身份证即可申请</p>
                <p>申请人数<span class="red">1392000人</span></p>
            </div>
            <i class="iconfont icon-arrow-right"></i>
        </section>
        <section class="gsou-loan-item">
            <img src="../img/type2.png">
            <div class="gsou-load-detail">
                <p>银行/机构贷款</p>
                <p>借钱0门槛，有身份证即可申请</p>
                <p>申请人数<span class="red">1392000人</span></p>
            </div>
            <i class="iconfont icon-arrow-right"></i>
        </section>
        <section class="gsou-loan-item">
            <img src="../img/type1.png">
            <div class="gsou-load-detail">
                <p>现金贷（极速贷）</p>
                <p>借钱0门槛，有身份证即可申请</p>
                <p>申请人数<span class="red">1392000人</span></p>
            </div>
            <i class="iconfont icon-arrow-right"></i>
        </section>
        <section class="gsou-loan-item">
            <img src="../img/type2.png">
            <div class="gsou-load-detail">
                <p>银行/机构贷款</p>
                <p>借钱0门槛，有身份证即可申请</p>
                <p>申请人数<span class="red">1392000人</span></p>
            </div>
            <i class="iconfont icon-arrow-right"></i>
        </section><section class="gsou-loan-item">
            <img src="../img/type1.png">
            <div class="gsou-load-detail">
                <p>现金贷（极速贷）</p>
                <p>借钱0门槛，有身份证即可申请</p>
                <p>申请人数<span class="red">1392000人</span></p>
            </div>
            <i class="iconfont icon-arrow-right"></i>
        </section>
        <section class="gsou-loan-item">
            <img src="../img/type2.png">
            <div class="gsou-load-detail">
                <p>银行/机构贷款</p>
                <p>借钱0门槛，有身份证即可申请</p>
                <p>申请人数<span class="red">1392000人</span></p>
            </div>
            <i class="iconfont icon-arrow-right"></i>
        </section>
        <section class="gsou-loan-item">
            <img src="../img/type1.png">
            <div class="gsou-load-detail">
                <p>现金贷（极速贷）</p>
                <p>借钱0门槛，有身份证即可申请</p>
                <p>申请人数<span class="red">1392000人</span></p>
            </div>
            <i class="iconfont icon-arrow-right"></i>
        </section>
        <section class="gsou-loan-item">
            <img src="../img/type2.png">
            <div class="gsou-load-detail">
                <p>银行/机构贷款</p>
                <p>借钱0门槛，有身份证即可申请</p>
                <p>申请人数<span class="red">1392000人</span></p>
            </div>
            <i class="iconfont icon-arrow-right"></i>
        </section>
    </section>
    
    
    <!-- 回到顶部 -->
<div class="to-top">
    <i class="iconfont icon-toTop"></i>
</div>
    <script src="../js/common.js"></script>
</body>
</html>