<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>贝用金</title>
<link rel="stylesheet" href="../css/index.css">
    <script src="../js/flexible.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body class="bg-gray">
    <header class="index-header">
        <img class="logo" src="../img/logo.png"></img>
        <div class="link-frame">
            <a href="mycenter.html">个人中心</a>
            <a href="share.html">分享</a>
            <a href="#">登录</a>
            <a href="reg.html">注册</a>
        </div>
    </header>

    <!-- <section class="banner-frame">
        <ul class="banner-ls">
            <li class="banner-item">
                <img src="../img/banner.png"  />
            </li>
            <li class="banner-item">
                <img src="../img/banner.png"  />
            </li>
            <li class="banner-item">
                <img src="../img/banner.png"  />
            </li>
        </ul>
    </section> -->
    <section class="banner">
        <ul class="banner-frame">
            <!-- <li class="banner-item" style="background-image: url('../img/banner.jpg');"></li> -->
        </ul>
        <div class="point-frame"></div>
    </section>

    <section class="recommend-frame">
        <label class="recommend-txt">推荐贷款</label>
        <div class="recommend-ls1">
            <a href="gsou-loan.html" class="recommend-item">
                <img src="../img/type1.png">
                <div class="recommend-detail">
                    <p>现金贷（极速贷）</p>
                    <p>借钱0门槛，有身份证即可申请</p>
                    <p>申请人数<span class="red">1392000人</span></p>
                </div>
                <i class="iconfont icon-arrow-right"></i>
            </a>
            <a href="bank-loan.html" class="recommend-item">
                <img src="../img/type2.png">
                <div class="recommend-detail">
                    <p>银行/机构贷款</p>
                    <p>借钱0门槛，有身份证即可申请</p>
                    <p>申请人数<span class="red">1392000人</span></p>
                </div>
                <i class="iconfont icon-arrow-right"></i>
            </a>
        </div>
        <div class="recommend-ls2">
            <a href="query.html" class="recommend-item">
                <img src="../img/query.png">
                <span>贝用金额度查询</span>
            </a>
            <a href="customize-loan.html" class="recommend-item">
                <img src="../img/loan.png">
                <span>定制化贷款</span>
            </a>
        </div>
    </section>

    <section class="news-frame">
        <label class="news-txt">金融资讯</label>
        <div class="news-ls">
            <div class="news-item">
                <img src="../img/test1.jpg">
                <div class="news-detail">
                    <h2 class="news-title">某某某设备用金趋势一览</h2>
                    <p class="news-explain">通过率超高，在线放款</p>
                    <p class="news-other">
                        <span>2017-05-08</span>
                        <span>11阅读</span>
                    </p>
                </div>
            </div>
            <div class="news-item">
                <img src="../img/test2.jpg">
                <div class="news-detail">
                    <h2 class="news-title">某某某设备用金趋势一览</h2>
                    <p class="news-explain">通过率超高，在线放款</p>
                    <p class="news-other">
                        <span>2017-05-08</span>
                        <span>11阅读</span>
                    </p>
                </div>
            </div>
            <div class="news-item">
                <img src="../img/test3.jpg">
                <div class="news-detail">
                    <h2 class="news-title">某某某设备用金趋势一览</h2>
                    <p class="news-explain">通过率超高，在线放款</p>
                    <p class="news-other">
                        <span>2017-05-08</span>
                        <span>11阅读</span>
                    </p>
                </div>
            </div>
            <div class="news-item">
                <img src="../img/test4.jpg">
                <div class="news-detail">
                    <h2 class="news-title">某某某设备用金趋势一览</h2>
                    <p class="news-explain">通过率超高，在线放款</p>
                    <p class="news-other">
                        <span>2017-05-08</span>
                        <span>11阅读</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="btn-loadmore">加载更多</div>
    </section>
    
    <div class="login-wrap dn">
    <i class="iconfont icon-close btn-close"></i>
    <div class="login-box">
        <p>登录</p>
        <div class="user-frame">
            <i class="iconfont icon-user"></i>
            <input maxlength="18" placeholder="请输入用户名">
        </div>
        <div class="phone-frame">
            <i class="iconfont icon-account"></i>
            <input maxlength="11" placeholder="请输入密码">
        </div>
        <div class="btn-login">登录</div>
        <a href="#" class="forget-pwd">忘记密码？</a>
    </div>
</div>


    

    <script src="../js/common.js"></script><script src="../js/index.js"></script>
</body>
</html>