<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>定制化贷款申请</title>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_3i24t4dwnm81714i.css">
<link rel="stylesheet" href="../../css/loan.apply.css">
    <script src="../../js/flexible.js"></script>
<script src="../../js/zepto.min.js"></script>
</head>
<body class="bg-gray">
    <header class="common-header">
        <i class="iconfont icon-arrow-left btn-back"></i>
        <span class="title">定制化贷款申请</span>
        <i class="iconfont icon-mycenter btn-mycenter"></i>
    </header>

    <section class="main">
        <section class="apply-info">
            <section class="apply-item">
                <label>姓名</label>
                <input type="text" class="name">
            </section>
            <section class="apply-item">
                <label>联系方式</label>
                <input type="text" class="phone">
            </section>
            <section class="apply-item">
                <label>身份证号</label>
                <input type="text" class="idcode">
            </section>
            <section class="apply-item">
                <label>房屋所在地</label>
                <section class="border-blue">
                    <select class="min-select">
                        <option>中国</option>
                        <option>美国</option>
                    </select>
                </section>
                <section class="border-blue">
                    <select class="min-select">
                        <option>广东</option>
                        <option>广西</option>
                    </select>
                </section>
                <section class="border-blue">
                    <select class="min-select">
                        <option>广州</option>
                        <option>佛山</option>
                    </select>
                </section>
            </section>
            <section class="apply-item">
                <label>楼盘名称</label>
                <input type="text" class="houses">
            </section>
            <section class="apply-item">
                <label>建筑面积</label>
                <input type="text" class="area">
                <span>m<sup>2</sup></span>
            </section>
            <section class="apply-item">
                <label>所需贷款金额</label>
                <input type="text" class="money">
                <span>元</span>
            </section>
            <section class="apply-item">
                <label>抵押物</label>
                <section class="border-blue">
                    <select>
                        <option>其他</option>
                        <option>房屋</option>
                    </select>
                </section>
            </section>
            <section class="apply-item">
                <input type="text" class="other-name" placeholder="输入名称">
            </section>
            <section class="apply-item">
                <label class="w45">是否接受零首付推荐</label>
                <section class="accept">
                    <i class="iconfont active"></i>是
                    <i class="iconfont"></i>否
                </section>
            </section>
        </section>
        <div class="btn-apply">立即申请</div>
    </section>

    <section class="hint-frame dn">
        <i class="iconfont icon-close btn-close"></i>
        <div class="hint-txt">
            您的申请已提交，24小时内 人工为您服务。
        </div>
    </section>

    <script src="../../js/common.js"></script>
</body>
</html>