<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>个人中心</title>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_3i24t4dwnm81714i.css">
<link rel="stylesheet" href="../../css/mycenter.css">
    <script src="../../js/flexible.js"></script>
<script src="../../js/zepto.min.js"></script>
</head>
<body>
    <header class="mycenter-header">
        <i class="iconfont icon-arrow-left btn-back"></i>
        <div class="head-frame">
            <img src="../../img/icon-head.png">
        </div>
        <div class="nickname">沧海一声笑</div>
        <span class="btn-change">修改头像</span>
        <div class="star-frame">
            <span>10 ×</span>
            <i class="iconfont icon-star"></i>
        </div>
        <div class="diamond-frame">
            <span>10 ×</span>
            <i class="iconfont icon-diamond"></i>
        </div>
    </header>
    <p class="explain">会员等级说明：分享一个会员进入为一星，一百星位一钻，钻石用户可以免费还信用卡或兑换相应礼品。</p>
    <div class="main mycenter-main">
        <a href="mydata.html" class="main-item">
            <i class="iconfont icon-data"></i>
            <span>我的资料</span>
        </a>
        <a href="apply.html" class="main-item">
            <i class="iconfont icon-apply"></i>
            <span>我的申请</span>
        </a>
        <a href="recommend.html" class="main-item">
            <i class="iconfont icon-recommend"></i>
            <span>我的推荐码</span>
        </a>
        <a href="#" class="main-item">
            <i class="iconfont icon-exchange"></i>
            <span>钻石兑换</span>
        </a>
        <a href="setting.html" class="main-item">
            <i class="iconfont icon-setting"></i>
            <span>设置</span>
        </a>
        <a href="friend.html" class="main-item">
            <i class="iconfont icon-friend"></i>
            <span>我的朋友帮</span>
        </a>
    </div>

    <script src="../../js/common.js"></script><script src="../../js/mycenter.js"></script>
</body>
</html>