<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>我的资料</title>
<link rel="stylesheet" href="../css/mydata.css">
    <script src="../js/flexible.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body>
    <header class="common-header">
        <i class="iconfont icon-arrow-left btn-back"></i>
        <span class="title">我的资料</span>
        <i class="iconfont icon-mycenter btn-mycenter"></i>
    </header>

    <section class="mydata-tab-frame">
        <section class="mydata-tab-ls">
            <span class="active">个人信息</span>
            <span>身份信息</span>
            <span>资产信息</span>
            <span>银行卡信息</span>
        </section>
    </section>
    
    <section class="mydata-frame">
        <section class="mydata-item mydata-person ">
            <div class="info-item">
                <label>姓名</label>
                <input placeholder="请输入姓名">
            </div>
            <div class="info-item">
                <label>手机号</label>
                <input placeholder="请输入手机号码" maxlength="11">
            </div>
            <div class="info-item">
                <label>身份证</label>
                <input placeholder="请输入身份证号" minlength="18" maxlength="18">
            </div>
            <div class="info-item">
                <label>所在城市</label>
                <select>
                    <option selected value="">请选择</option>
                    <option>广州</option>
                </select>
            </div>
            <div class="info-item">
                <label>婚姻状况</label>
                <select>
                    <option selected value="">请选择</option>
                    <option>是</option>
                    <option>否</option>
                </select>
            </div>
            <div class="info-item">
                <label>文化程度</label>
                <select dir="rtl">
                    <option selected value="">请选择</option>
                    <option>小学</option>
                    <option>中学</option>
                    <option>中专</option>
                    <option>大专</option>
                    <option>本科</option>
                    <option>硕士</option>
                    <option>博士</option>
                </select>
            </div>
        </section>
        
        <section class="mydata-item mydata-identity dn">
            <div class="info-item">
                <label>职业身份</label>
                <select>
                    <option selected value="">请选择</option>
                    <option>上班族</option>
                </select>
            </div>
            <div class="info-item">
                <label>收入形式</label>
                <select>
                    <option selected value="">请选择</option>
                    <option>工资收入</option>
                    <option>兼职收入</option>
                </select>
            </div>
            <div class="info-item">
                <label>月收入</label>
                <input placeholder="请输入月收入">元
            </div>
            <div class="info-item">
                <label>公司类型</label>
                <select>
                    <option selected value="">请选择</option>
                    <option>国营企业</option>
                    <option>私营企业</option>
                </select>
            </div>
            <div class="info-item1">
                <label>当前公司工作时间</label>
                <select>
                    <option selected value="">请选择</option>
                    <option>五天七小时制</option>
                </select>
            </div>
            <div class="info-item1">
                <label>连续6个月以上缴纳公积金</label>
                <select>
                    <option selected value="">请选择</option>
                    <option>是</option>
                    <option>否</option>
                </select>
            </div>
            <div class="info-item1">
                <label>连续6个月以上缴纳公积金</label>
                <select>
                    <option selected value="">请选择</option>
                    <option>是</option>
                    <option>否</option>
                </select>
            </div>
        </section>

        <section class="mydata-item mydata-assets dn">
            <div class="info-item">
                <label>是否有信用卡</label>
                <select>
                    <option selected value="">请选择</option>
                    <option>是</option>
                    <option>否</option>
                </select>
            </div>
            <div class="info-item">
                <label>名下房产</label>
                <select>
                    <option selected value="">请选择</option>
                    <option>房产</option>
                </select>
            </div>
            <div class="info-item">
                <label>名下车产</label>
                <select>
                    <option selected value="">请选择</option>
                    <option>房产</option>
                </select>
            </div>
            <div class="info-item1">
                <label>是否有成功贷款记录</label>
                <select>
                    <option selected value="">请选择</option>
                    <option>是</option>
                    <option>否</option>
                </select>
            </div>
            <div class="info-item">
                <label>信用情况</label>
                <select>
                    <option selected value="">请选择</option>
                    <option>优</option>
                    <option>差</option>
                </select>
            </div>
        </section>

        <section class="mydata-item mydata-bank dn">
            <div class="info-item">
                <label>开户名</label>
                <input placeholder="请输入姓名">
            </div>
            <div class="info-item">
                <label>银行卡号</label>
                <input placeholder="请输入银行卡号" maxlength="11">
            </div>
            <div class="info-item">
                <label>银行</label>
                <select>
                    <option selected value="">请选择</option>
                    <option>中国人民银行</option>
                    <option>中国建设银行</option>
                    <option>中国工商银行</option>
                </select>
            </div>
        </section>
    </section>

    <div class="btn-save">保存</div>

    <script src="../js/common.js"></script><script src="../js/mydata.js"></script>
</body>
</html>