<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>资讯</title>
<link rel="stylesheet" href="../css/news-detail.css">
    <script src="../js/flexible.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body>
    <header class="common-header">
        <i class="iconfont icon-arrow-left btn-back"></i>
        <span class="title">资讯</span>
        <i class="iconfont icon-mycenter btn-mycenter"></i>
    </header>
    
    <section class="main">
        <h2 class="news-title">特斯拉Model 3将搭载平视显示器 取消自动门把手功能</h2>
        <div class="news-info">
            <span>阅读数：100</span>
            <span>2017-05-14</span>
        </div>
        <div class="news-detail">
            <p>特斯拉在上周三举行了营收会议，期间重点介绍了Model 3这款新车未来的生产计划，包括其最终版本将会晚于预期数月发布。特斯拉首席执行官埃隆·马斯克也向外界透露有关Model 3更多的设计内容，并做出了一些非常有趣的暗示。</p>
            <p>在特斯拉举行营收会议期间，当被要求详细介绍Model 3的“可制造性设计”内容时，马斯克表示：</p>
            <p>“与此前的Model S和Model X相比，Model 3是为大规模制造而设计的简单化车型，其中一些特征更是明显的反映了这一点。例如，Model S和Model X拥有两个显示屏、两个各自独立的计算机系统，而Model 3只有一个显示屏。此外，我们尽可能的简化了综合布线系统，Model S的综合布线长度为3.0千米，而Model 3的综合布线长度为1.5千米。”</p>
        </div>
    </section>
    
    <script src="../js/common.js"></script>
</body>
</html>