<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>贝用金额度查询</title>
<link rel="stylesheet" href="../css/query.css">
    <script src="../js/flexible.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body class="bg-gray">
    <header class="common-header">
        <i class="iconfont icon-arrow-left btn-back"></i>
        <span class="title">贝用金额度查询</span>
        <i class="iconfont icon-mycenter btn-mycenter"></i>
    </header>
    
    <section class="main">
        <section class="query-info">
            <section class="query-item">
                <label>姓名</label>
                <input class="name">
            </section>
            <section class="query-item">
                <label>性别</label>
                <section class="border-blue">
                    <select>
                        <option>男</option>
                        <option>女</option>
                    </select>
                </section>
            </section>
            <section class="query-item">
                <label>年龄</label>
                <section class="border-blue">
                    <select>
                        <option>18-22岁</option>
                        <option>23-30岁</option>
                    </select>
                </section>
            </section>
            <section class="query-item">
                <label>身份证号</label>
                <input class="idcode">
            </section>
            <section class="query-item">
                <label>婚姻状况</label>
                <section class="border-blue">
                    <select>
                        <option>未婚</option>
                        <option>已婚</option>
                    </select>
                </section>
            </section>
            <section class="query-item">
                <label>户口类型</label>
                <section class="border-blue">
                    <select>
                        <option>本地城镇</option>
                        <option>外地城镇</option>
                    </select>
                </section>
            </section>
            <section class="query-item">
                <label>文化程度</label>
                <section class="border-blue">
                    <select>
                        <option>大专</option>
                        <option>本科</option>
                    </select>
                </section>
            </section>
            <section class="query-item">
                <label>身体状况</label>
                <section class="border-blue">
                    <select>
                        <option>良好</option>
                        <option>一般</option>
                    </select>
                </section>
            </section>
            <section class="query-item">
                <label>单位性质</label>
                <section class="border-blue">
                    <select>
                        <option>民营企业</option>
                        <option>国营企业</option>
                    </select>
                </section>
            </section>
            <section class="query-item">
                <label>现单位年限</label>
                <section class="border-blue">
                    <select>
                        <option>1-3年</option>
                        <option>3-5年</option>
                    </select>
                </section>
            </section>
            <section class="query-item">
                <label>月收入</label>
                <input class="income">
            </section>
            <section class="query-item">
                <label>性别</label>
                <section class="border-blue">
                    <select>
                        <option>男</option>
                        <option>女</option>
                    </select>
                </section>
            </section>
            <section class="query-item">
                <label>债务收入比</label>
                <section class="border-blue">
                    <select>
                        <option>20%-30%</option>
                        <option>10%-20%</option>
                    </select>
                </section>
            </section>
            <section class="query-item">
                <label>住房情况</label>
                <section class="border-blue">
                    <select>
                        <option>租房</option>
                        <option>借住</option>
                    </select>
                </section>
            </section>
            <section class="query-item">
                <label>车辆情况</label>
                <section class="border-blue">
                    <select>
                        <option>有</option>
                        <option>无</option>
                    </select>
                </section>
            </section>
            <section class="query-item">
                <label>信用记录</label>
                <section class="border-blue">
                    <select>
                        <option>一般</option>
                        <option>良好</option>
                    </select>
                </section>
            </section>
        </section>
        <div class="btn-calculation">计算贝用金额度</div>
    </section>

    <script src="../js/common.js"></script>
</body>
</html>