<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>我的推荐码</title>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_3i24t4dwnm81714i.css">
<link rel="stylesheet" href="../../css/recommend.css">
    <script src="../../js/flexible.js"></script>
<script src="../../js/zepto.min.js"></script>
</head>
<body>
    <div class="recommend">
        <i class="iconfont icon-arrow-left btn-back"></i>
        <div class="user-info">
            <img src="../../img/icon-head.png">
            <span class="nickname">沧海一声笑</span>
        </div>
        <img class="two-code" src="../../img/two-code.jpg"></img>
    </div>

    <script src="../../js/common.js"></script><script src="../../js/recommend.js"></script>
</body>
</html>