<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>注册</title>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_3i24t4dwnm81714i.css">
<link rel="stylesheet" href="../css/reg.css">
    <script src="../js/flexible.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body>
    <header class="common-header">
        <i class="iconfont icon-arrow-left btn-back"></i>
        <span class="title">注册</span>
        <i class="iconfont icon-mycenter btn-mycenter"></i>
    </header>

    <section class="main">
        <section class="reg-info">
            <div class="reg-item username-frame">
                <i class="iconfont icon-user"></i>
                <input placeholder="请输入姓名">
            </div>
            <div class="reg-item phone-frame">
                <i class="iconfont icon-phone"></i>
                <input class="phone" maxlength="11" placeholder="请输入手机号码">
                <span class="btn-send-code">发送验证码</span>
            </div>
            <div class="reg-item code-frame">
                <i class="iconfont icon-phone"></i>
                <input placeholder="请输入验证码">
            </div>
            <div class="reg-item other-frame">
                <input placeholder="（选填）如有推荐人，请输入">
            </div>
        </section>
        <div class="btn-reg">注册</div>
    </section>

    <script src="../js/common.js"></script>
</body>
</html>