<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>设置</title>
<link rel="stylesheet" href="../css/setting.css">
    <script src="../js/flexible.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body class="bg-gray">
    <header class="common-header">
        <i class="iconfont icon-arrow-left btn-back"></i>
        <span class="title">设置</span>
        <i class="iconfont icon-mycenter btn-mycenter"></i>
    </header>

    <section class="main">
        <div class="setting-frame">
            <a href="about.html" class="setting-item">
                <i class="iconfont icon-about"></i>
                <span class="item-txt">关于我们</span>
                <i class="iconfont icon-arrow-right"></i>
            </a>
            <a href="feedback.html" class="setting-item">
                <i class="iconfont icon-idea"></i>
                <span class="item-txt">意见反馈</span>
                <i class="iconfont icon-arrow-right"></i>
            </a>
            <a href="collaboration.html" class="setting-item">
                <i class="iconfont icon-teamwork"></i>
                <span class="item-txt">商务合作</span>
                <i class="iconfont icon-arrow-right"></i>
            </a>
            <a href="share.html" class="setting-item">
                <i class="iconfont icon-share"></i>
                <span class="item-txt">分享好友</span>
                <i class="iconfont icon-arrow-right"></i>
            </a>
            <a href="account.html" class="setting-item">
                <i class="iconfont icon-account"></i>
                <span class="item-txt">账户管理</span>
                <i class="iconfont icon-arrow-right"></i>
            </a>
            <a href="#" class="setting-item">
                <i class="iconfont icon-quit"></i>
                <span class="item-txt">退出</span>
                <i class="iconfont icon-arrow-right"></i>
            </a>
        </div>
    </section>


    <script src="../js/common.js"></script>
</body>
</html>