<!doctype html>
<html lang="en">
<head>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no">
    <title>醫美堂-信心服務</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/services-detail.css">
</head>
</head>
<body>
    <div class="nav">
    <div class="nav-bg"></div>
    <div class="main-nav">
        <div class="logo">
            <img src="../img/logo.png">
        </div>
        <div class="nav-category">
            <ul>
                <li><a href="index.html">醫學美容</a></li>
                <li><a href="index.html#eaes-promotions">最新優惠</a></li>
                <li><a href="testimonials.html">見證分享</a></li>
                <li><a href="equipment.html">專業設施</a></li>
                <li><a href="services.html">信心服務</a></li>
                <li><a href="groupNews.html">集團資訊</a></li>
                <li><a href="index.html#eaes-contact">聯絡我們</a></li>
            </ul>
        </div>
		<div class="share-frame">
			<i class="iconfont icon-facebook"></i>
			<i class="iconfont icon-twitter"></i>
			<i class="iconfont icon-youtube"></i>
			<i class="iconfont icon-google"></i>
			<i class="iconfont icon-instagram"></i>
		</div>
    </div>
</div>
    <div class="main">
        <div class="services-detail">
            <div class="detail-brand">
                <span>Services</span>
                <span>/ 信心服務</span>
            </div>
            <div class="detail-main">
                <h2>标题</h2>
                <img src="">
                <div class="detail-content">
                    什么是MKNetworkKit?

                    MKNetworkKit是一个 O-C 编写的网络框架，支持块，ARC 且用法简单。

                    MKNetworkKit 集 ASIHTTPRequest 和 AFNetworking 两个框架于一体。在集成二者的优秀特性之外，还增加了一堆新的功能。尤其是，相比起其它框架，它能让你更轻松地编写代码。它让你彻底远离那些恶心的网络代码。

                    特点

                    超轻量级框架

                    整个框架只有 2 个类和一些类别方法。因此，它的使用极其简单。

                    在整个程序中只有一个全局队列

                    高度依赖互联网连接的 app 应该优先考虑网络线程的并发数。不幸的是，没有任何网络框架在这方面做得够好。因此，一旦你在程序中没有控制好网络线程的并发数，就极易导致出错。

                    假设你要上传一堆图片到服务器上。绝大多数移动网络（3G）不会允许你对同一个IP 地址的 HTTP 并发连接数超过 2 个。换句话说，在设备上，你不能从 3G 网络中获得 2 个以上的 HTTP 并发连接。对于 Edge 则更糟，大多数情况不能超过1 个。相比较家用宽带网络（Wifi），则这个限制要宽得多（6 个）。但是，你不可能总是使用 wifi，你必须也考虑到有限网络（窄带）的连通性。更多的时候，iDevice设备几乎都能连接到 3G 网络，因此，你同时只能上传 2 张图片。但是，真正的问题不是缓慢的上传速度，而是另一种情况。在你打开一个 view 试图加载缩略图（不同的view）时，上传线程被运行到后台。如果你没有控制好上传队列中的线程数，你的缩略图会加载超时。这是不正常的。
                    正确的方式是优化缩略图加载线程，或者让线程等待直到上传完成再加载缩略图。这需要你在整个程序中只拥有一个queue 队列。
                </div>
                <div class="backTolist">返回列表</div>
            </div>
            <div class="services-other">
                <div class="services-title">医学仪器疗程</div>
                <ul class="services-list clearfix">
                    <li class="services-item">
                        <img src="../img/equipment.png">
                        <span>服务项目</span>
                    </li>
                    <li class="services-item">
                        <img src="../img/equipment.png">
                        <span>服务项目</span>
                    </li>
                    <li class="services-item">
                        <img src="../img/equipment.png">
                        <span>服务项目</span>
                    </li>
                    <li class="services-item">
                        <img src="../img/equipment.png">
                        <span>服务项目</span>
                    </li>
                </ul>
                <i class="iconfont icon-arrow-left"></i><i class="iconfont icon-arrow-right"></i>
            </div>
        </div>
    </div>
    <div class="footer">
    <div class="main-footer clearfix">
        <div class="footer-brand">
            <div class="logo">
                <img src="../img/logo.png">
            </div>
        </div>
		<div class="footer-serve">
			<span>我們專業的顧問團隊承諾.</span>
			<span>以專業的知識及以心致誠的服務態度.</span>
			<span>期望為您提供最貼心的專業服務.</span>
			<span>歡迎與我們聯絡.樂意隨時為您效勞.</span>
		</div>
		<div class="footer-email">
			<h3>SUBSCRIPTION</h3>
			<span>輸入您的電郵地址</span>
			<span>獲得更多醫學美容資訊</span>
			<div class="email-input">
				<input type="text" placeholder="Email Address">
				<i class="iconfont icon-arrow-btn"></i>
			</div>
		</div>
		<div class="footer-contactUs">
			<h3>CONTACT US</h3>
			<span class="contactUs-address">九龍尖沙咀赫德道8號13樓全層</span>
			<div>
				<span class="tel">Tel:2983 8388</span>
				<span class="fax">Fax:2361 8800</span>
			</div>
			<div class="share-frame">
				<i class="iconfont icon-facebook"></i>
				<i class="iconfont icon-twitter"></i>
				<i class="iconfont icon-youtube"></i>
				<i class="iconfont icon-google"></i>
				<i class="iconfont icon-instagram"></i>
			</div>
		</div>
    </div>
    <div class="footer-bottom">
        <div class="footer-copyright">
            <span>Privacy Policy</span>
            <span>&nbsp;|&nbsp;&nbsp;</span>
            <span>Copyright © 2017 &nbsp; eAesthetic Holdings limited. All rights reserved.</span>
        </div>
    </div>
</div>

    <script type="text/javascript" src="../js/jquery1.12.4.min.js"></script>
<script type="text/javascript" src="../js/jquery.lazyload.min.js"></script>

</body>
</html>