<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no">
    <title>醫美堂-見證分享</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/testimonials.css">
</head>



<body>
    <div class="nav">
    <div class="nav-bg"></div>
    <div class="main-nav">
        <div class="logo">
            <img src="../img/logo.png">
        </div>
        <div class="nav-category">
            <ul>
                <li><a href="index.html">醫學美容</a></li>
                <li><a href="index.html#eaes-promotions">最新優惠</a></li>
                <li><a href="testimonials.html">見證分享</a></li>
                <li><a href="equipment.html">專業設施</a></li>
                <li><a href="services.html">信心服務</a></li>
                <li><a href="groupNews.html">集團資訊</a></li>
                <li><a href="index.html#eaes-contact">聯絡我們</a></li>
            </ul>
        </div>
		<div class="share-frame">
			<i class="iconfont icon-facebook"></i>
			<i class="iconfont icon-twitter"></i>
			<i class="iconfont icon-youtube"></i>
			<i class="iconfont icon-google"></i>
			<i class="iconfont icon-instagram"></i>
		</div>
    </div>
</div>
    <div class="main">
        <div class="testimonials-brand">
            <span>Testimonials</span>
            <span class="brand-cn">/ 見證分享</span>
        </div>
        <div class="content">
            <div class="testimonials-list clearfix" id="testimonials-list">
                <!--<div class="item">-->
                    <!--<div class="boxgrid">-->
                        <!--<img class="item-img" src="../img/pixel.gif" data-original="../img/img.jpg" alt="">-->
                        <!--<span class="name">Santos Jeannette</span>-->
                        <!--<p class="testimonials">"你好你好你好你好鑫多我"</p>-->
                    <!--</div>-->
                <!--</div>-->

            </div>
        </div>
    </div>

    <div class="footer">
    <div class="main-footer clearfix">
        <div class="footer-brand">
            <div class="logo">
                <img src="../img/logo.png">
            </div>
        </div>
		<div class="footer-serve">
			<span>我們專業的顧問團隊承諾.</span>
			<span>以專業的知識及以心致誠的服務態度.</span>
			<span>期望為您提供最貼心的專業服務.</span>
			<span>歡迎與我們聯絡.樂意隨時為您效勞.</span>
		</div>
		<div class="footer-email">
			<h3>SUBSCRIPTION</h3>
			<span>輸入您的電郵地址</span>
			<span>獲得更多醫學美容資訊</span>
			<div class="email-input">
				<input type="text" placeholder="Email Address">
				<i class="iconfont icon-arrow-btn"></i>
			</div>
		</div>
		<div class="footer-contactUs">
			<h3>CONTACT US</h3>
			<span class="contactUs-address">九龍尖沙咀赫德道8號13樓全層</span>
			<div>
				<span class="tel">Tel:2983 8388</span>
				<span class="fax">Fax:2361 8800</span>
			</div>
			<div class="share-frame">
				<i class="iconfont icon-facebook"></i>
				<i class="iconfont icon-twitter"></i>
				<i class="iconfont icon-youtube"></i>
				<i class="iconfont icon-google"></i>
				<i class="iconfont icon-instagram"></i>
			</div>
		</div>
    </div>
    <div class="footer-bottom">
        <div class="footer-copyright">
            <span>Privacy Policy</span>
            <span>&nbsp;|&nbsp;&nbsp;</span>
            <span>Copyright © 2017 &nbsp; eAesthetic Holdings limited. All rights reserved.</span>
        </div>
    </div>
</div>
    <script type="text/javascript" src="../js/jquery1.12.4.min.js"></script>
<script type="text/javascript" src="../js/jquery.lazyload.min.js"></script>

    <script type="text/javascript" src="../js/blocksit.js"></script><script type="text/javascript" src="../js/testimonials.js"></script>
</body>
</html>