<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>动态详情</title>
<link rel="stylesheet" href="../css/detail.css">
    <script src="../js/flexible.js"></script>
<script src="../js/zepto.min.js"></script>
<script src="http://192.168.20.117:35729/livereload.js"></script></head>
<body>
    <div class="main">
        <section class="dynamic-item">
            <div class="di-top">
                <div class="avatar">
                    <img src="../img/icon.png">
                    <span>VIP</span>
                </div>
                <div class="info">
                    <p>Realo</p>
                    <p>
                        <span>心灵感悟</span>
                    </p>
                </div>
                <div class="more">...</div>
            </div>
            <div class="content">
                <p>当我们调用myTest()函数并输出两个变量的值</p>
                <div class="img-frame img-type1 ">
                    <img src="../img/test1.png">
                </div>
                <div class="img-frame img-type2 dn">
                    <img src="../img/test1.png">
                    <img src="../img/test1.png">
                </div>
                <div class="img-frame img-type3 dn">
                    <img src="../img/test1.png">
                    <img src="../img/test1.png">
                    <img src="../img/test1.png">
                </div>
                <div class="img-frame img-type4 dn">
                    <img src="../img/test1.png">
                    <img src="../img/test1.png">
                    <img src="../img/test1.png">
                    <img src="../img/test1.png">
                </div>
                <div class="img-frame img-type5 dn">
                    <img src="../img/test1.png">
                    <img src="../img/test1.png">
                    <img src="../img/test1.png">
                    <img src="../img/test1.png">
                    <img src="../img/test1.png">
                </div>
                <div class="img-frame img-type6 dn">
                    <img src="../img/test1.png">
                    <img src="../img/test1.png">
                    <img src="../img/test1.png">
                    <img src="../img/test1.png">
                    <img src="../img/test1.png">
                    <img src="../img/test1.png">
                </div>
                <div class="img-frame img-type7 dn">
                    <video width="100%" poster="../img/video-img.png" src="http://www.runoob.com/try/demo_source/movie.mp4" id="video"></video>
                    <div class="btn-start"></div>
                </div>
            </div>
            <p class="time">47分钟前</p>
            <div class="btn-frame">
                <div class="btn-item btn-zan">
                    <span>5</span>
                </div>
                <div class="btn-item btn-edit">
                    <span>5</span>
                </div>
                <div class="btn-item btn-pay">
                    <span>5</span>
                </div>
            </div>
            <div class="zan-frame">
                <span class="icon-type"></span>
                <div class="icon-frame">
                    <img src="../img/icon.png">
                    <img src="../img/icon5.png">
                    <img src="../img/icon2.png">
                    <img src="../img/icon3.png">
                    <img src="../img/icon4.png">
                    <img src="../img/icon5.png">
                    <img src="../img/icon6.png">
                    <img src="../img/icon7.png">
                    <img src="../img/icon8.png">
                    <img src="../img/icon4.png">
                    <img src="../img/icon2.png">
                    <img src="../img/icon3.png">
                    <img src="../img/icon4.png">
                </div>
               <span class="count">15</span>
            </div>
            <div class="pay-frame">
                <span class="icon-type"></span>
                <div class="icon-frame">
                    <img src="../img/icon.png">
                    <img src="../img/icon5.png">
                </div>
                <span class="count">2</span>
            </div>
            <div class="comment-frame">
                <div class="comment-item">
                    <img src="../img/icon.png">
                    <div class="comment-info">
                        <span class="com-name">Realo</span>
                        <span class="com-time">2分钟前</span>
                        <p class="com-txt">流弊</p>
                    </div>
                </div>
                <div class="comment-item">
                    <img src="../img/icon2.png">
                    <div class="comment-info">
                        <span class="com-name">Realo</span>
                        <span class="com-time">2分钟前</span>
                        <p class="com-txt">This is a branch under development to upgrade RN to v0.34 & compatible with Xcode 8.</p>
                    </div>
                </div>
                <div class="no-comment">没有更多内容了</div>
            </div>
            <div class="edit-frame">
                <input placeholder="说点什么呢...">
                <span>发送</span>
            </div>
        </section>
    </div>
    
    <script src="../js/detail.js"></script>
</body>
</html>